# 1. list(리스트)
# 2. tuple(튜플)
# 3. set(세트)
# 4.dict(딕셔너리, 사전)

1. list(리스트)

In [2]:
score = [50, 60, 70, 80, 90, 100]

In [3]:
score[0]

50

In [4]:
score[0:3]

[50, 60, 70]

In [5]:
score[0]=88

In [8]:
score[1:3]=[]

In [6]:
score

[88, 60, 70, 80, 90, 100]

In [9]:
score

[88, 100]

### 리스트 연산

In [10]:
철수 = [55, 66]
영희 = [77, 22]

In [14]:
철수 + 영희

[55, 66, 77, 22]

In [15]:
55 in 철수

True

In [16]:
len(철수)

2

In [17]:
list5 = [1,2,3,4,5,6,7]

In [18]:
list5.append(100)

In [20]:
list5[-1]

100

In [21]:
list5.insert(2,4444444)

In [22]:
list5

[1, 2, 4444444, 3, 4, 5, 6, 7, 100]

In [23]:
list5.pop()

100

In [24]:
list5

[1, 2, 4444444, 3, 4, 5, 6, 7]

In [27]:
명부=['철수','영희','건희','재영','대현','철수']

In [28]:
명부[0]

'철수'

In [29]:
명부.remove('철수')

In [30]:
명부

['영희', '건희', '재영', '대현', '철수']

In [31]:
명부.count('철수')

1

In [32]:
명부.clear()

In [33]:
명부

[]

### list 복사(low data를  고치면 안되기 때문에)

In [34]:
명부=['철수','영희','건희','재영','대현','철수']

In [35]:
명부2 = 명부

In [36]:
명부3 = 명부.copy()

In [37]:
명부3[1] = '라마바사'

In [38]:
명부3

['철수', '라마바사', '건희', '재영', '대현', '철수']

In [45]:
명부3[1]

'라마바사'

In [39]:
명부

['철수', '영희', '건희', '재영', '대현', '철수']

In [40]:
l=[10,19,2,44,55,23,54,32]

In [41]:
l.sort()

In [42]:
l

[2, 10, 19, 23, 32, 44, 54, 55]

In [43]:
l.sort(reverse=True)

In [44]:
l

[55, 54, 44, 32, 23, 19, 10, 2]

### 튜플(리스트와 비슷하지만 ()를 사용하고 수정불가)

### 집합 : 순서없음

In [46]:
s={1,2,3}

In [48]:
type(s)

set

###  사전(dict) : 순서없음

In [49]:
dict1 = {'철수':10, '영희':8}

In [50]:
dict1['철수']

10

In [52]:
dict={0:10, 2:5, 3:88, '0':22}

In [53]:
dict[0]

10

### copy,  items, keys, values씀

In [62]:
성적1 = {'이':70, '박':30, '최':90, '민':78, '서':98}

In [63]:
성적 = 성적1.copy()

In [64]:
성적.clear

In [65]:
성적1.items()

dict_items([('이', 70), ('박', 30), ('최', 90), ('민', 78), ('서', 98)])

In [66]:
성적3 = list(성적1.items())

In [68]:
type(성적3)

list

In [69]:
성적1.keys()

dict_keys(['이', '박', '최', '민', '서'])

In [71]:
성적1.values()

dict_values([70, 30, 90, 78, 98])