### 반복문
### 1. while 문
### 2. for 문

------------------------

### 2. while문

In [1]:
a = 1
while a<=5 :
    print(a)
    a += 1

1
2
3
4
5

In [2]:
a=1+2+3+4+5+6+7+8+9+10

In [3]:
a

55

In [6]:
a = 1
sum_sum = 0
while a <= 10 :
    sum_sum += a
    a += 1
print('sum :', sum_sum)

sum : 55

###문제

10부터 88888까지의 합을 구하세요.

In [8]:
a = 10
sum_s = 0
while a<= 88888 :
    sum_s += a
    a += 1
print('sum :', sum_s)

sum : 3950582671

In [9]:
sum(range(10,88889))

3950582671

### break문

In [10]:
while True :
    num = int(input("번호를 입력하세요. (종료시 1번 입력)"))
    print("프로그램이 실행 중")
    
    if num==1 :
        print("1번 입력하셨습니다. 프로그램 종료합니다.")
        break

번호를 입력하세요. (종료시 1번 입력)3
프로그램이 실행 중
번호를 입력하세요. (종료시 1번 입력)1
프로그램이 실행 중
1번 입력하셨습니다. 프로그램 종료합니다.

In [15]:
while True :
    id_id = input("아이디 : ")
    password = input("비밀번호 : ")
    
    if (id_id == '이주영') and (password == '1234'):
        print("로그인 되셨습니다.")
        break

else :
    print("아이디/비밀번호를 확인해주세요 -> 고객센터응답'114")

아이디 : 이주영
비밀번호 : 1234
로그인 되셨습니다.

### continue 문

In [2]:
while True:
    id_id = input("아이디 : ")
    password = input(" 비밀번호 : ")
    
    if (id_id == '김건희') and (password == '1234'):
        continue
        print("로그인 되셨습니다.")
        
    elif id_id =='종료':
        break
        
    else:
        print("아이디/비밀번호를 확인해주세요 -> 고객센터응답114")

아이디 : 이주영
 비밀번호 : 1234
아이디/비밀번호를 확인해주세요 -> 고객센터응답114
아이디 : 종료
 비밀번호 : 1234

### 문제

구구단을 출력하시오.

In [1]:
n=0
dan = int(input('\'단\'을 입력하세요.'))

while n<=9 :
    print("{}x {} = {}" .format(dan, n, n*dan))
    n +=1 #n = n+1

'단'을 입력하세요.2
2x 0 = 0
2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 = 10
2x 6 = 12
2x 7 = 14
2x 8 = 16
2x 9 = 18

In [17]:
i=2
num=0

while i <=9 :
    j=1
    while j<=10 :
        num=i*j
        print('{0:3d}'.format(num), end=" ")
        j+=1
    i+=1
    print()

  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90

### 문제

A 학교에서는주당12시간강의를기본으로하고있다. 만약에강의시간이12시간을초과하면초과한시간에대해시간당급여의30%를더지급한다. 주당총근무시간과A학교의시간당급여를입력받아1주일급여를계산하는프로그램을작성하시오.

In [31]:
t = int(input('근무 시간을 입력하시오 :'))
m = int(input('시간당 수당을 입력하시오 :'))
w= ((t-12)*m*1.3)+(m*12)
print()
if t>= 12 :
    print("총 급여는 {}원 입니다.".format(int(w)))
    
else :
    print("총 급여는 {}원 입니다.".format(int(t*m)))

근무 시간을 입력하시오 :20
시간당 수당을 입력하시오 :40000

총 급여는 896000원 입니다.

### **range()함수 : 일정 범위의 수를 반환한다.

In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
list(range(3,19,2))

[3, 5, 7, 9, 11, 13, 15, 17]

In [5]:
a = list(range(10))

In [6]:
b=list(range(4,100))

In [7]:
c=list(range(19,300,10))

### for문

In [10]:
for x in range(5):
    print(x)

0
1
2
3
4

In [11]:
names = ['이', '김', '박','최','신','노']

In [12]:
for 이름 in names :
    print(이름)

이
김
박
최
신
노

In [13]:
for 문자 in "불타는 금요일 입니다. 치맥!" :
    print(문자)

불
타
는

금
요
일

입
니
다
.

치
맥
!

In [16]:
for 문자 in "불타는 금요일 입니다. 치맥!" :
    print("d")

d
d
d
d
d
d
d
d
d
d
d
d
d
d
d
d

In [17]:
a = 'abcdefg'

In [19]:
a.upper()

'ABCDEFG'

In [21]:
for al_up in 'abcdefg':
    print(al_up.upper())

A
B
C
D
E
F
G

In [22]:
for x in range(1,100,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [28]:
for 단 in range(2,10):
    for n in range(1,10):
        print(단*n, end=' ')#end=''인것이 가로로 쓰기
    print() #엔터를 이렇게

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [31]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [33]:
score

{1: 95, 2: 80, 3: 92, 4: 90, 5: 88}

In [35]:
for x in score.keys():
    print(x)

4
2
1
5
3

In [37]:
for k,v in score.items():
    print("key는 :",k, end=' ')
    print("values :",v)

key는 : 4 values : 90
key는 : 2 values : 80
key는 : 1 values : 95
key는 : 5 values : 88
key는 : 3 values : 92

### *****

In [39]:
A = [ x**2 for x in range(10) ]

In [40]:
A

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 데이터타입

숫자데이터 타입 : int float, complex, 00,0x  
문자열데이터 타입 : str  
bool형 : true, false  
군집형 : 리스트[],튜플(), 집합{}, 리스트{:}

### 문제1

In [49]:
for x in range(0,10):
    print(x, end = ' ')
print('')
for y in range(0,51,5):
    print(y, end = ' ')
print('')
for z in range(10,0,-1):
    print(z, end = ' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

### 문제2

In [53]:
성적1 = int(input("성적을 입력하시오"))
성적2 = int(input("성적을 입력하시오"))
성적3 = int(input("성적을 입력하시오"))
성적4 = int(input("성적을 입력하시오"))
성적5 = int(input("성적을 입력하시오"))
print()
print("입력한 성적들 :[{},{},{},{},{}]" .format(성적1, 성적2, 성적3, 성적4, 성적5))

성적을 입력하시오90
성적을 입력하시오88
성적을 입력하시오75
성적을 입력하시오93
성적을 입력하시오80

입력한 성적들 :[90,88,75,93,80]

In [56]:
성적 = [90,88,75,93,80]

for x in 성적 :
    print("성적을 입력하시오 : {}". format(x))

성적을 입력하시오 : 90
성적을 입력하시오 : 88
성적을 입력하시오 : 75
성적을 입력하시오 : 93
성적을 입력하시오 : 80

In [7]:
score = []

for _ in range(5):
    data = int(input('성적을 입력하시오 : '))
    score.append(data)

print()
print('입력한 성적들 :', score)
print('최고 성적 : ',max(score))
print('최저 성적 : ',min(score))

average=sum(score)/len(score)

print('평균:%.2f'%average)

성적을 입력하시오 : 90
성적을 입력하시오 : 88
성적을 입력하시오 : 75
성적을 입력하시오 : 93
성적을 입력하시오 : 80

입력한 성적들 : [90, 88, 75, 93, 80]
최고 성적 :  93
최저 성적 :  75
평균:85.20

In [1]:
score = []

for x in range(5) :
    plus= (int(input('성적을 입력하시오 : ')))
    score.append(plus)
print()
print('입력한 성적들 : ',score)
print('최고 성적',max(score))
print('최저 성적',min(score))
ave=sum(score)/len(score)
print('평균 :{0:.2f} '.format(ave))

성적을 입력하시오 : 90
성적을 입력하시오 : 88
성적을 입력하시오 : 75
성적을 입력하시오 : 93
성적을 입력하시오 : 80

입력한 성적들 :  [90, 88, 75, 93, 80]
최고 성적 93
최저 성적 75
평균 :85.20

In [12]:
for x in range (5):
    plus=input('성적')

성적11
성적22
성적33
성적44
성적55

In [13]:
for x in range(5):
    print(x)

0
1
2
3
4