# 객체란?  
메모리에 저장되어 있는 자료를 '객체(object)"라고 한다.

In [3]:
# 100 객체(값)을 x라는 변수에 할당했다.
x = 100

In [2]:
x

100

### id() 함수는 괄호 안에 있는 변수의 메모리 주소를 알려준다.

In [8]:
id(x)

1529113856

In [11]:
y=300

In [13]:
id(y)

260447687760

In [16]:
z=x+y

In [18]:
z

400

In [22]:
id(z)

260447688080

In [24]:
x=100

In [25]:
print(x,y)

100 300

In [26]:
print(x,y,z)

100 300 400

In [27]:
xx=3.0

### type() : 괄호안에 있는 변수의 데이터 타입을 알려준다.

In [28]:
type(x)

int

In [29]:
type(y)

int

In [30]:
type(z)

int

In [31]:
type(xx)

float

In [32]:
a=3
aa=3.0

In [34]:
aa1=33.0

In [36]:
number=5

In [37]:
score=90

In [38]:
python_score=90

In [ ]:
_score=100

In [41]:
학생수=50

* %whos는 지금까지 등록해놓은 것들을 보여준다.

In [42]:
%whos

Variable       Type     Data/Info
---------------------------------
a              int      3
aa             float    3.0
aa1            float    33.0
number         int      5
python_score   int      90
score          int      90
x              int      100
xx             float    3.0
y              int      300
z              int      400
학생수            int      50

### del(): 괄호 안에 있는 변수를 지운다.

In [44]:
del(a)

In [45]:
del(aa)

In [46]:
del(aa1, number, python_score)

In [47]:
%whos

Variable   Type     Data/Info
-----------------------------
score      int      90
x          int      100
xx         float    3.0
y          int      300
z          int      400
학생수        int      50

* %reset 는 등록해 놓은 단어들을 지워준다

In [48]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [49]:
%whos

Interactive namespace is empty.

In [51]:
x=3+5j

In [52]:
type(x)

complex

In [53]:
a = True

In [54]:
b = False

In [55]:
type(a)

bool

In [56]:
type(b)

bool

In [57]:
x=1
y=2

In [58]:
x>y

False

#문자열

In [59]:
name = "이주영"

In [60]:
type(name)

str

In [62]:
name = "이주영"
phone_number = "01099969395"
address = "seoul"

In [63]:
name[0]

'이'

In [64]:
phone_number[0]

'0'