### 문자열

In [ ]:
print("안녕하세요.'호호호'.")

In [ ]:
print('''dear Alice
dfdsf
dfd
             fdf''')

In [ ]:
lang= 'python programming'

In [ ]:
lang[0]

In [ ]:
lang[1:3]

In [ ]:
lang[::]

In [ ]:
a='hello'
b='world'

In [ ]:
a+b

In [ ]:
a*3

###len()함수 : 괄호 안에 있는 문자열 개수를 알려줌

In [ ]:
a = 'dajkflhsdjlkhfuiahdkn'

In [ ]:
len(a)

### in()함수

In [ ]:
subject = 'subject'

In [ ]:
'r' in subject

In [ ]:
name = 'Lee Ju young'

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
a.islower()

In [ ]:
name.capitalize()

In [ ]:
name.title()

In [ ]:
name.istitle()

In [ ]:
name.count('o')

### 입출력문

In [5]:
math_score = 50
science_score = 30
english_score = 70

In [8]:
print(math_score, science_score, english_score)

50 30 70

In [7]:
print("내 수학점수는 :", math_score)

내 수학점수는 : 50

In [9]:
print("내 수학점수는 :", scienceprint("내 수학점수는 :", math_score)_score)

SyntaxError: invalid syntax (<ipython-input-9-810225c1a3b2>, line 1)

In [ ]:
print("내 수학점수는 :", english_score)

In [ ]:
print("내 수학점수는 :", math_score, "내 과학점수는", science_score, "내 영어점수는", english_score)c

In [11]:
print("수학점수는 : {}\n과학점수는 : {}\n영어점수는 : {}"
      .format(math_score, science_score, english_score))

수학점수는 : 50
과학점수는 : 30
영어점수는 : 70

In [ ]:
print?

In [13]:
print('a', end='\n\n\n\n\n')
print('n')

a




n

In [ ]:
name = input("이름을 입력하세요 : ")
phone = input("전화번호를 입력하세요 : ")
add = input("주소를 입력하세요 : ")

In [14]:
name = input("이름을 입력하세요 : ")
phone = input("전화번호를 입력하세요 : ")
add = input("주소를 입력하세요 : ")

print("이름 : {0}\n전화번호 : {1}\n주소 : {2}"
     .format(name,phone,add))

이름을 입력하세요 : 이주영
전화번호를 입력하세요 : 01099969395
주소를 입력하세요 : 서울시
이름 : 이주영
전화번호 : 01099969395
주소 : 서울시

In [16]:
성적 = int(input("성적을 입력하세요 : "))
등급 = int(input('무슨 등급을 원하시나요? '))
if 성적>= 90 : 
    print("1등급입니다.")
else :
    print("재수강 하세요.")

성적을 입력하세요 : 34
무슨 등급을 원하시나요? 2
재수강 하세요.

### 문제

세과목(국어, 수학, 영어) 성적을input()함수로입력받아세과목의총점과평균을구하는프로그램을작성하시오. 평균은소수점둘째자리까지출력되도록한다.

In [18]:
#점수를 입력하는 방법
"""input으로 입력을  받으면 문자열로 된다.
따라서 int()함수로 데이터 타입을 변형한 뒤 각 변수에 할당한다.
"""
korean_score = int(input("국어성적을 입력하세요"))
math_score = int(input("수학성적을 입력하세요"))
english_score = int(input("영어성적을 입력하세요"))  

print()
print("입력받은 성적")
print("--------------")

print("국어 성적 : {}\n수학 성적 : {}\n영어 성적 : {}"
      .format(korean_score,math_score,english_score))

print()
print("--------------")

total= korean_score+math_score+english_score
mean= (korean_score+math_score+english_score)/3

print()

print("총점", total)
print("평균 : {0:.2f}", mean)
print("평균 : {0:10.2f}".format(mean))

국어성적을 입력하세요78
수학성적을 입력하세요90
영어성적을 입력하세요86

입력받은 성적
--------------
국어 성적 : 78
수학 성적 : 90
영어 성적 : 86

--------------

총점 254
평균 : {0:.2f} 84.66666666666667
평균 :      84.67

문제2

input() 함수를이용하여원의반지름을입력받는다. 입력받은반지름으로원의넓이와원의둘레를구하여소수셋째자리까지출력하는프로그램을작성하시오. 원주율을3.141592로한다.

In [29]:
r = int(input("반지름을 입력하시오."))
print("반지름 : ",r)

원의_넓이 =r**2*3.141592

print("원의 넓이",원의_넓이)

둘레=2*r*3.141592
print("원의 둘레",둘레)

반지름을 입력하시오.5
반지름 :  5
원의 넓이 78.5398
원의 둘레 31.41592

##### 문제3

다섯자리양의정수를입력받아서다음과같이각자리수를떼어서출력하는프로그램을작성하시오. 항상올바르게 다섯자리숫자를입력하고1~9의수만입력한다고가정한다.

In [23]:
num=int(input("다섯 자리 숫자를 입력하시오 : "))
print=()

n10000=num//10000
n1000=num//1000
n100=num//100
n10=num//10
n1=num

print(n10000,'', n1000,'', n100,'', n10,'', n1,'')
print()

print('프로그램을 끝내려면 엔터를 누르세요.')

다섯 자리 숫자를 입력하시오 : 58924

TypeError: 'tuple' object is not callable